@font-face {
    font-family: 'f1';
    src: url('fonts/Formula1-Bold-4.ttf') format('truetype');
}

body{
    background-color: #0D0D0D;
    margin: 0;
    height: 100vh;
    color: white;
    font-family: 'f1', sans-serif;
}

#container{
  height: 85vh;
  width: 100%;
  display: flex;
  gap: 10px;
  position: relative;
}

.standings, .clips{
  flex: 1;
}

.standings{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.clips{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#clip{
  width: 100%;
  height: 100%;
  transition: opacity 0.1s ease;
}

.fade-out {
  opacity: 0;
  filter: blur(2px);
}

.clip-buttons{
  display: flex;
  justify-content: center;
  gap: 0;
  margin-top: 10px;
  width: 100%;
}

.trapezoid-button {
  height: 50px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #15151F;
  padding: 0;
  transition: background 0.3s;
  flex: 1;

  color: white;
  font-family: 'f1', sans-serif;
  font-style: italic;

  position: relative;  /* konieczne dla pseudo-elementu */
  overflow: hidden;
}

.trapezoid-button::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(120deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 70%);
  transform: translateX(-100%) skewX(-20deg);
  transition: transform 0.5s ease;
  pointer-events: none;
}

.trapezoid-button:hover {
  background-color: #ff1e00;
}

.trapezoid-button:hover::after {
  transform: translateX(100%) skewX(-20deg);
}

.like-button {
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.next-button {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}

.autoplay-toggle {
  clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
}

.autoplay-toggle.active {
  background-color: #ff1e00;
}

.logo{
  width: 100%;
  margin-bottom: 20px;
}

.leaderboard{
  width: 100%;
}

.driver{
  display: flex;
  gap: 15px;
  background-color: var(--driver-color);
  color: var(--driver-text-color);
  text-align: left;
  overflow: hidden;
  font-size: 1.35em;
  flex: 1;
  text-wrap: nowrap;
}

.driver img{
  height: 60px;
  width: 60px;
  object-fit: cover;
  display: block;
}

.score{
  font-size: 1.75em;
  font-weight: bold;
  flex: 0 0 80px;
  justify-content: center;
}

.position{
  flex: 0 0 25px;
  font-size: 1.5em;
  font-weight: bold;
  justify-content: center;
}

table {
  border-collapse: collapse;
  background-color: #15151F;
}

td {
  height: 50px;
  padding: 0 1em;
  display: flex;
  align-items: center;
  text-align: center;
}

tr{
  border-bottom: 1px solid white;
  display: flex;
  width: 100%;
}

tr:last-child {
  border-bottom: none;
}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15vh; 
}

.breaking-news{
  background-color: #ff1e00;

  position: relative;
  overflow: hidden;

  width: 250px;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  margin-left: -10px;

  transform: skewX(-25deg);
}

.breaking-news::after{
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  animation: shine 3s infinite;
}

@keyframes shine {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.minor-info{
  background: linear-gradient(
    to bottom,
    #eeeeee 0%,
    #a8a8a8 50%,
    #eeeeee 100%
  );
  height: 30px;
  width: 100%;
  color: #000000;
  display: flex;
  align-items: center;
  overflow: hidden;  
}

.minor-info-panel{
  display: inline-flex;
  white-space: nowrap;
  will-change: transform;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.minor-item {
  padding: 0 2rem;
  font-size: 14px;
  white-space: nowrap;
}

.major-info{
  background: linear-gradient(270deg, #141e30, #1e293b, #141e30);
  background-size: 600% 600%;
  animation: gradientMove 20s ease infinite;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.major-info-live{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  color: #ff1e00;
  text-shadow: 0 0 2px #ff1e00, 0 0 4px #ff1e00;
  animation: glow 2s ease-in-out infinite alternate;
}

.major-info-live-logo{
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 1px #ff1e00, 0 0 2px #ff1e00;
  }
  50% {
    text-shadow: 0 0 2px #ff1e00, 0 0 4px #ff1e00;
  }
  100% {
    text-shadow: 0 0 1px #ff1e00, 0 0 2px #ff1e00;
  }
}

.major-info-live-indicator{
  font-style: italic;
  font-size: 10px;
}

.major-info-text{
  flex: 1;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: clamp(12px, 2vw, 36px);
}

#muteBtn {
  position: fixed;      /* floating w prawym górnym rogu */
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;   /* koło */
  border: none;
  background-color: #5c5c5c80;
  color: white;
  font-size: 24px;
  cursor: pointer;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, box-shadow 0.3s;
}

#muteBtn:hover {
  background-color: #ff1e00;
  box-shadow: 0 0 10px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0); /* efekt glow */
}